.idea/
.vscode/

!.gitkeep

/public/layouts/
/public/libraries/
/public/resources/
/public/test/
/public/modules/

/var/cache/
/var/mysql/

/vendor/

/lib/test/templates_c/
/lib/test/vtlib/HTML/
!/lib/test/vtlib/HTML/.gitkeep
/lib/user_privileges/
/lib/config.inc.php
/lib/tabdata.php
/lib/test/logo/favicon.ico
/lib/storage/
!/lib/storage/.htaccess
!/lib/storage/vtiger.txt

/.hosts
/.env
/lib/modules/Google/connectors/Config.php
/vtiger.config.json
/public/phpinfo.php
/docker-compose.override.yml
