.idea/
.vscode/

!.gitkeep

/public/layouts/
/public/libraries/
/public/resources/
/public/test/
/public/modules/

/var/cache/
/var/mysql/

/vendor/

/lib/test/templates_c/
/lib/user_privileges/
/lib/config.inc.php
/lib/tabdata.php

/.hosts
/.env
