services:

  caddy:
    build: docker/caddy
    environment:
      - CADDY_HOST=${CRM_HOST}
    ports:
      - 80:80
      - 443:443
    restart: always

  tigermate:
    build: .
    environment:
      - TM_DEBUG=true
      - TM_SITE_URL=${CRM_PROTOCOL:-http}://${CRM_HOST:-localhost:8080}/
      - MYSQL_HOST=mysql
      - MYSQL_DATABASE=tigermate
      - MYSQL_ROOT_PASSWORD=secret
    volumes:
      - .:/var/www/html
    ports:
      - 8080:80
    links:
      - mysql
      - adminer
    restart: always

  #xdebug:
  #  image: javanile/xdebug
  #  cap_add: [ 'NET_ADMIN', 'NET_RAW' ]
  #  restart: on-failure

  mysql:
    image: mysql:8.0.31
    command: --sql-mode=
    environment:
      - MYSQL_DATABASE=tigermate
      - MYSQL_ROOT_PASSWORD=secret
    volumes:
      - ./var/mysql:/var/lib/mysql:rw
    restart: always

  adminer:
    image: javanile/adminer
    environment:
      - MYSQL_DATABASE=tigermate
      - MYSQL_ROOT_PASSWORD=secret
    ports:
      - 8081:8080
    links:
      - mysql
    restart: always

volumes:
  mysql:
